@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

.title {
    font-family: 'Trade Winds', cursive;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}